/* all.css */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  user-select: none;
  -webkit-user-select: none;

  font-family: 'Open Sans', sans-serif;
}

a,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

.hiding2 {
  display: none !important;
  overflow: hidden;
}

.hiding {
  display: none;
  overflow: hidden;
}

#dvSpinnerContainer{
    flex: 1;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
}

footer .content-bottom {
    width: 100%;
    /* height: 57px; */
    padding: 0.2em 0;
}

img.logo {
    width: 255px;
    height: auto;
}

#dvContainer {
   background-color: #e659ab;
}

.content {
    margin: auto auto;
    padding: 0 20px;
    max-width: 1200px;
}

#dvFooter {
    border-top: 1px dashed rgb(110, 110, 110);
}

#dvHeader {
    border-bottom: 1px dashed rgb(110, 110, 110);
}

