*,
*::before,
*::after {
  font-family: 'Open Sans', sans-serif;
}


html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

* {
  box-sizing: border-box;
}

a,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}
.darkTheme {
  --main-color: rgb(48, 52, 53);
  --main-bg-color: rgb(39, 39, 39);
  --other-bg-color: rgb(59, 59, 59);
  --textA: rgb(240, 157, 189);
  --dashplease: rgb(255, 246, 230);

  --tbBackground: rgba(41, 41, 41, 0.8);
  --tdBorder: rgb(95, 95, 94);

  --thBorder: rgb(71, 207, 237);
  --thBackground: rgb(48, 52, 53);

  --tdBorder: rgb(95, 95, 94);
  --tdColor: rgb(255, 246, 230);
  --textB: rgb(255, 246, 230);
  --swBackground: #2196f3;
}

.lightTheme {
  --main-color: lightcyan;
  --main-bg-color: white;
  --other-bg-color: rgb(59, 59, 59);
  --textA: rgb(240, 157, 189);
  --dashplease: rgb(255, 246, 230);

  --tbBackground: white;
  --tdBorder: rgb(159, 159, 16);

  --thBorder: lightblue;
  --thBackground: white;

  --tdBorder: rgb(165, 170, 169);
  --tdColor: rgb(48, 52, 53);

  --textB: black;
  --swBackground: #ccc;
}

:root[data-applied-mode="dark"] {
  --main-color: rgb(48, 52, 53);
  --main-bg-color: rgb(146, 11, 11);
  --other-bg-color: rgb(59, 59, 59);
  --textA: rgb(240, 157, 189);
  --dashplease: rgb(255, 246, 230);

  --tbBackground: rgba(41, 41, 41, 0.8);
  --tdBorder: rgb(95, 95, 94);

  --thBorder: rgb(71, 207, 237);
  --thBackground: rgb(48, 52, 53);

  --tdBorder: rgb(95, 95, 94);
  --tdColor: rgb(255, 246, 230);


}

:root[data-applied-mode="light"] {
  --main-color: lightcyan;
  --main-bg-color: white;
  --other-bg-color: rgb(59, 59, 59);
  --textA: rgb(240, 157, 189);
  --dashplease: rgb(255, 246, 230);

  --tbBackground: white;
  --tdBorder: rgb(159, 159, 16);

  --thBorder: lightblue;
  --thBackground: white;

  --tdBorder: rgb(165, 170, 169);
  --tdColor: rgb(48, 52, 53);

 
}
:root {
  --main-color: lightcyan;
  --main-bg-color: white;
  --other-bg-color: rgb(59, 59, 59);
  --textA: rgb(240, 157, 189);
  --dashplease: rgb(255, 246, 230);

  --tbBackground: white;
  --tdBorder: rgb(159, 159, 16);

  --thBorder: lightblue;
  --thBackground: white;

  --tdBorder: rgb(165, 170, 169);
  --tdColor: rgb(48, 52, 53);

  --textB: black;
  --swBackground: #ccc;
}

body {
  color: var(--textB);
  background-color: var(--main-bg-color);
}
.spaced table {
    border-collapse: separate;
    border-spacing: 1px;
 
}


.T2 {
    table-layout: fixed;
    width: 100%;
    border: 1px solid var(--tbBorder);
    border-collapse: collapse;
    background-color: var(--tbBackground);
}

.T2 td {
    -webkit-text-size-adjust: 100%;
    color: var(--tdColor);
    font-feature-settings: "liga";
    line-height: 1.7;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    box-sizing: inherit;
    padding: 0.05rem 0.45rem;
    border: 1px solid var(--tdBorder);
    margin: 0px;
    font-size: 1rem;
    text-align: center;
}

.T2 th {
    -webkit-text-size-adjust: 100%;
    color: var(--tdColor);
    font-feature-settings: "liga";
    line-height: 1.4ch;
    font-family: "IBM Plex Mono", monospace;
    border-collapse: collapse;
    box-sizing: inherit;
    background: var(--thBackground);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    padding: 0.20rem 0.45rem;
    border: 1px solid var(--thBorder);
    margin: 0px;
    font-size: 1rem;
}